@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}

nav{
    background-color: red;
    padding: 15px;
}

input.pesquisa{
    width: 400px;
    height: 25px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -50px;
}




